// Yarn related configuration without zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

// Report results
report_results

// PNPM references
node_modules
